/* Widget CSS */

table{
	width: 100%;
}

.metric-label{
    color: #666;
    font-size: 60px;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.donutdiv {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.map{
    margin-top: 10px;
    position: relative;
}

.metriclegend table {
    width: 180px;
    position: absolute;
    top: 320px;
    float: right;
    right: 0;
}

.metricvalue{
    text-align: left;
    font-weight: 300;
    font-size: 24px;
    padding-left: 15px;
}

.smalllabel{
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    color: #ccc;
}

.metriclabel{
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 10px;
    color: #ccc;
}

.w-misc-table{
	margin-top: 20px;
}

.w-funnel-table{
	margin: 15px;
}

.diskbullet {
    height: 135px;
}

.smallstat{
    border-radius: 2px 2px 2px 2px;
    height: 37%;
    margin: 16% 5% 5%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    vertical-align: bottom;
}

.iconframe{
    background-color: #333;
    border-radius: 2px 2px 2px 2px;
    height: 37%;
    margin: 5%;
    margin-top: 9%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    vertical-align: bottom;
}


.t1-moveicon-img {
	bottom: 4px;
	right: 4px;
	position: absolute;
    opacity: 0; 
    height: 15px; 
    width: 15px;
}

.t1-modify-icon {
	float: right;
    opacity: 0;
	padding-left: 8px;
	cursor: pointer;
}

.t1-modify-icon-label {
	float: right;
    opacity: 0;
	margin: 20px;
	cursor: pointer;
}

.t1-widget-div{
    border-radius: 1px;
    margin: 0.6em;
    background-color: #FFF;
    height: 100%;
}

.t1-widget-container{
   text-align: center;
   vertical-align: middle;
   border-top: 1px solid #EEE;
}

.t1-metric-label{
    border-top: none; 
    margin: 0.6em;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}


/* Chart CSS */

#myPie {
    height: 100%;
    position: absolute;
    top: 20%;
    width: 100%;    
}

/* ------------- */


.t1-widget-footer {
    bottom : 0px;
    margin-top: 10px;
    width: 100%;
	text-align: right;
	color: #BBB;
  }


.t1-widget-header{
	line-height: 100%; 
	overflow: hidden; 
	padding: 10px 15px 11px;
    margin-top: 2px;
    color: #CCCCCC;
    font-size: 15px;
    text-align: left;
}

t1-widget-header-div{
	height: inherit;
}

.t1-widget-header-section{
	font-size: 15px; 
    text-align: left;
    color: #CCC;
    margin-top: 2px;
}

.t1-widget-peity {
    height: 40%;
    position: absolute;
    text-align: center;
    width: 100%;
}

canvas.peity {
    margin-top: 12px;
}

.t1-widget-icon {
    margin-top: 40px;
    top: 10%;
}

.t1-widget-icon-text {
    color: #666;
    font-size: 20px;
    text-align: center;
    width: 100%;
}


.t1-widget-text-big {
	color: #666; 
	/*text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F; */
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	font-size: 80px; 
	text-align: center;
	/* position: absolute; */
    width: 100%;
}

.t1-widget-text-medium {
    color: #666;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	font-size: 60px; 
	text-align: center;
    width: 100%;
	/*position: absolute; - System Overview */
}

.t1-widget-text-small {
    color: #CCC; 
    /*text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F; */
	font-size: 20px; 
	text-align: center;
    top: 50%;
	width: 100%;
    margin-top: 30px;
}

.t1-widget-bar{
	color: #333;
	text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F; 
	font-size: 12px; 
	padding-top: 45px;
	text-align: center;
}

.t1-widget-numberpercent{
	padding-top: 35%;
}

.t1-widget-donut{
	color: #777; 
	text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F; 
	font-size: 12px; 
	padding-top: 5px;
	text-align: center;
}

.t1-widget-tweets{
	color: #777; 
	font-size: 14px; 
	margin: 10px;
	text-align: center;
}

.t1-widget-pie{
	color: #777; 
	text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F; 
	font-size: 12px;
	padding-top: 5px;
	text-align: center;
}

.t1-widget-percent-medium-green {
    color: #5BD993; 
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 32px;
	text-align: center;
    bottom: 0;
    text-align: right;
    width: 100%;
}

.t1-widget-percent-medium-red {
	color: #F55B4C; 
    padding-bottom: 10px;
	padding-right: 10px;
	font-size: 32px;
	text-align: center;
    bottom: 0;
    text-align: right;
    width: 100%;
}

.t1-widget-percent-medium-grey {
    color: #CCC; 
    padding-bottom: 0px;
    padding-right: 10px;
	font-size: 30px;
	text-align: center;
    bottom: 0;
    text-align: right;
    width: 100%;
}

.t1-widget-clock-time {
	font-size: 60px; 
	color: #777; 
	text-align: center; 
	padding-top: 10px;
}

.t1-widget-datetime {
	color: #CCCCCC; 
	text-align:center; 
	bottom: 0;
	width: 100%;
	font-size: 15px;
}

.t1-widget-text-table {
	color: #CCCCCC; 
	text-align:center; 
	font-size: 20px;
}


/* ------ Weather -------- */
#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
}

#weather h2 {
  margin: 0 0 8px;
  color: #666;
  font-size: 90px;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 0px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}




/* FeedEk - RSS */

.feedEkList{
	width:450px; 
	list-style:none outside none;
	background-color:#FFFFFF; 
	padding:4px 6px; 
	color:#3E3E3E;
	text-align: left;
	}
	
.feedEkList li{
	border-bottom:1px solid #D3CAD7; 
	padding:5px;
	}
	
.feedEkList li:last-child{
	border-bottom: 1px solid #EEEEEE;
}
	
.itemTitle a{
	text-decoration:none 
}

.itemDate{
	font-size:11px;color:#AAAAAA;
} 

/* Peity */


/* Widget Distributed */
.w-distributed-datapoint{
    
}

.w-histchart-table{
	width: 100%; 
	text-align: left; 
	cell-padding: 5px; 
	/*border-bottom: #BBB 1px solid; */
}

.w-histchart-td{
	text-align: left; 
	width: 430px; 
	vertical-align: middle;
}

.widget-progressbar{
	color: #CCCCCC;
    font-size: 26px;
    line-height: 30px;
	text-align: right;
	padding: 10px;
	margin-bottom: 20px;
}

.widget-progressbar-percent{
	color: #666;
    text-align: right; 
	font-size: 45px; 
	line-height: 40px; 
	padding: 10px;
	margin-top: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.widget-progressbar-td{
	background-color: gray;
background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
}

.w-recordset-table{
    padding: 20px; 
    margin-top: 10px; 
    border-spacing: 5px;
    width: 95%;
    text-align: center;
    margin-left: 10px;
}

.w-usedmem-datapoint{
    font-size: 20px; 
    color: #666;
}

.w-memtext-td{
    text-align:left; 
    height: 60px;
    border-left: solid 1px #F1F1F1;
}

.w-funnel-table{
     width: 100%;
     text-align: center; 
     height:160px; 
     margin: 20px;
}

#w-sysalerts-rotator div {position:absolute; display:none;}

#w-useralerts-rotator div {position:absolute; display:none;}

.w-sysalerts-table{
    width: 95%; 
    margin: 30px;
}

.w-sysalerts-td{
    text-align: left; 
    padding: 10px;
}

.w-sysalerts-text{
    text-align: left;
    margin-left: 20px;
}





.t1-metric-clock-top {
    text-transform: uppercase;
    min-height: 220px;
    background: #ccc;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

ul#clock li{
    border: none;
}

#clock-dt {
    color: #FFF;
    font-size: 25px;
}

#clock-time {
    color: #fff;
    font-size: 40px;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin-top: -95px;
    margin-left: 30%;
    background: url(../img/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 83px;
}

#sec {
    background: url(../img/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(../img/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../img/hourhand.png);
    z-index: 1;
}

#clock-timezones {
    display: inline-block;
    width: 24%;
    text-align: center;
    border: none;
    line-height: 1.25;
    margin-top: 10px;
}

#clock-timezones i {
    font-size: 60px;
}




.w-sensor-text1{
    color: #CCC; 
    font-size: 26px; 
    line-height: 5px; 
    margin-top:30px;
}

.w-mem-td{
    margin-right: 10px;
}

.w-misc-td{
    border-left: solid 1px #F1F1F1;
}

.w-misc-table{
    width: 100%;
    text-align: center; 
    margin-top:40px
}

.w-distributed-datapoint, .w-unsuccesfulconns-datapoint{
    color: #FFF; 
    font-size: 26px; 
    line-height: 5px; 
    margin-top:30px;
}

.w-icon-img, .w-unsuccesfulconns-img, .w-distributed-img{
    margin-top: 30px;
}

.w-icon-text1{
    color: #333; 
    font-size: 26px; 
    line-height: 5px; 
    margin-top:30px;
}

.w-icon-datapoint{
    font-size: 26px;
    line-height: 5px; 
    margin-top:15px;
}


.bgsub{
	background: url(../img/sub_bg.png);
}

.twitter-timeline{
	max-height: 680px;	
}