/* Just for reference as CSS variables are not supported outside of FF 
:root { 
  --metric-red: #F55B4C;
  --metric-yellow: #FFDD72;
  --metric-green: #5BD993;
  --metric-text-light: #CCC; 
  --metric-text-dark: #666;
}*/  

html {
  min-width: 320px;
}

.gridster > * {
    margin: 0px;
}

#peitysvg>svg{
    height: 50px;
    width: 50px;
}

.form-group-heading{
    margin-bottom: 30px;
    margin-top: 20px;
}

[data-sizex="1"] {
    width: 230px;
}

[data-sizex="2"] {
    width: 480px;
}

[data-sizex="3"] {
    width: 730px;
}

[data-sizex="4"] {
    width: 960px;
}

[data-sizey="1"] {
    height: 115px;
}

[data-sizey="2"] {
    height: 230px;
}

[data-sizey="3"] {
    height: 365px;
}

[data-sizey="4"] {
    height: 480px;
}



.dashboardbackground {
    /* This class gets added to content when a dashboard background image has been defined */
    min-height: 100%;
    min-width: 1024px;
	
    width: 100%;
    height: auto;
	
    top: 0;
    left: 0;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginbackground {
    background-color: #E5E9EC;
}

body {
  background: #101215;
  color: #666;
  font-weight: 200;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

body.full-lg #wrapper, body.full-lg #main {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
  margin: 0;
}

a {
  color: #2a89c1;
}
a:hover {
  color: #0067a8;
  text-decoration: none;
}

a.toggle-column-hide {
  color: #cccccc !important;
  text-decoration: line-through;
}

label {
  color: #A1A1A1;
  font-size: 12px;
}


.logo-area {
  background-color: #262a33;
  border-bottom: 5px #23272e solid;
  float: left;
  height: 55px;
  position: relative;
  text-align: center;
  width: 270px;
  display: none;
  z-index: 5;
}

a.logo {
  background: url(../img/logo_white.png) no-repeat center center;
  display: block;
  height: 50px;
  position: relative;
}

#content {
  padding: 10px 30px 0;
}

#wrapper {
  /* background: #20242b; */
  height: 100%;
  margin-left: 50px;
  min-width: 320px;
  overflow: hidden;
  position: absolute;
  right: 0;
}

#metriclist {
    overflow-y:scroll;
    overflow-x:hidden;
    padding-top: 10px;
    max-height: 680px;
    
    background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}


#metriccount {
    margin-right: 15px; 
    margin-bottom: 5px;
}

.metricThumbnailGroup {
    height: 187px; 
    padding: 0px;
}

.metricThumbnailImg{
    padding: 0px;
}

.btnAddMetricThumbnail {
    cursor: pointer; 
    height: 196px; 
    margin-bottom: 15px;
}

#main {
  background: #e5e9ec;
  height: 100%;
  left: 0;
  margin-left: 0;
  overflow: auto;
  /* overflow-x: hidden; */
  padding-top: 55px;
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 0.5s, padding-top 0.5s;
  transition: transform 0.5s, padding-top 0.5s;
  z-index: 9;
  -webkit-overflow-scrolling: touch;
}

#header {
  background: #fff;
  border-bottom: 5px #2A89C1 solid;
  height: 55px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#header .tools-bar {
  /* margin-left: 250px; */
  padding: 0 15px 0 0;
}
#header .tools-bar ul li.h-seperate {
  border-left: 1px solid #eeeeee;
  height: 50px;
}
#header .tools-bar ul li a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: #A1A1A1;
  line-height: 50px;
  padding: 0 15px;
}

#header .tools-bar ul.nav li a:hover {
  color: #C1C1C1;
}

#header .tools-bar ul.nav li a:hover .active {
  color: #fff;
}

#header .tools-bar ul li a.h-seperate:before {
  border-left: 1px solid #e5e9ec;
  content: "";
  height: 14px;
  left: -10px;
  margin: 0px 10px 0px 10px;
  position: absolute;
  top: 19px;
}
#header .tools-bar a.icon-toolsbar {
  color: #2a89c1;
  font-size: 21px;
  padding: 0 25px;
}
#header .tools-bar ul li button {
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 0;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    /* Hide datatables borders */
    border-bottom: 1px solid #DDD;
}

table.dataTable thead th, table.dataTable thead td {
    /* Hide datatables borders */
    border-bottom: 1px solid #DDD;
}

/* Login background header */

.home {
    color: #fff;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    background-position: center top;
    background-size: 100% auto;
}

.header-bg {
    background: url("../img/vignette.png") repeat-y fixed center center / cover rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    width: 100%;
}

.pattern {
    height: 100%;
    background: url("../img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
}




#nav {
    background-color: #1b1e24;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 270px;
    z-index: 2;
}

.modal-content {
    border-radius: 4px; 
}

.mm-menu {
  width: 250px;
  background-color: transparent;
  background: inherit;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

html.mm-opening .mm-page, html.mm-opening #mm-blocker, html.mm-opening .mm-fixed-top, html.mm-opening .mm-fixed-bottom {
    left: 200px;
}

html .toggle-menu {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 100;
}

html.mm-opened .toggle-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

html .leftMenu .toggle-menu {
  display: none;
}

body.leftMenu .toggle-menu {
  display: none;
}
body.leftMenu.in .toggle-menu {
  display: block;
}
body.leftMenu .mm-menu:not(.mm-right) {
  top: 55px;
}
body.leftMenu .mm-menu:not(.mm-right) .mm-list {
  padding-top: 0;
}
body.leftMenu .mm-menu:not(.mm-right).mm-hassearch .mm-panel {
  padding-top: 55px;
}

.mm-list {
  /* font-family: "Arial", sans-serif; */
  font-size: 12px;
  text-shadow: none;
}

.mm-menu.mm-offcanvas {
  display: block;
}

.mm-menu .icon {
  font-size: 14px;
  width: 17px;
  height: 17px;
  text-align: center;
  margin: 0 15px 0 -2px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.3);
}
.mm-menu li.img a {
  font-size: 12px;
}
.mm-menu li.img a img {
  float: left;
  margin: -5px 10px -5px 0;
}
.mm-menu li.img a small {
  font-size: 10px;
}

.mm-page {
    left: 0;
    right: 0;
    transform: translate3d(0px, 0px, 0px);
}


#nav-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 200px;
    padding-top: 55px;
    position: absolute;
    width: 270px;
}

.circular-avatar-sm {
	width: 38px;
	height: 38px;
        border-radius: 19px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	background: url(../img/avatar.png) no-repeat;
}

.circular-avatar-bg {
	width: 96px;
	height: 96px;
	margin: 12px;
	border-radius: 48px;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	background: url(../img/avatar.png) no-repeat;
}

.avatar-mini {
    width: 34px;
}
.avatar-slide {
    color: #fff;
    padding: 25px 0 0;
    position: relative;
}
.avatar-slide .avatar-detail {
    margin: 5px auto 25px;
    padding: 5px 15px;
    text-align: center;
}
.avatar-slide .avatar-detail p {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
}
.avatar-slide .avatar-detail p a {
    color: #009eff;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.avatar-slide .avatar-detail span {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 25px;
    margin: 5px 5px 0 0;
    padding: 1px 7px;
}
.avatar-slide .avatar-link {
    margin-bottom: 1px;
}
.avatar-slide .avatar-link a {
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    position: relative !important;
}
.avatar-slide .avatar-link a i {
    height: 20px;
    text-align: center;
    width: 20px;
    z-index: 3;
}
.avatar-slide .avatar-link a.btn {
    background: none repeat scroll 0 0 #23272e;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
}
.avatar-slide .avatar-link a.btn:first-child {
    border-left: 0 none;
}

.avatar-slide .avatar-link a em {
    height: 14px;
    margin-left: 5px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 14px;
}
.avatar-slide .avatar-link a em:after {
    background-color: #ffdd72;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    width: 8px;
}
.avatar-slide .avatar-link a em.red:after {
    background-color: #e02222;
}
.avatar-slide .avatar-link a em.green:after {
    background-color: #5bd993;
}
.avatar-slide .avatar-link a em:before {
    background: none repeat scroll 0 0 transparent;
    border: 3px solid #fff;
    content: "";
    height: 24px;
    left: -8px;
    opacity: 0;
    position: absolute;
    top: -8px;
    width: 24px;
}
.avatar-slide .avatar-link a em.active:before {
    animation: 2s ease-out 0s normal none infinite sonar;
}


.mm-hassearch .mm-header {
  height: 50px;
  padding-top: 20px;
  top: 50px;
}

.mm-hassearch .mm-header a:before {
  margin-bottom: -10px;
}

.mm-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 14px;
  text-shadow: none;
  border: none;
  border-radius: 2px;
  line-height: 30px;
  outline: none;
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  opacity: 0;
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
  transform: translateX(30%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.mm-opening .mm-search input,
.leftMenu .mm-search input {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.widget-collapse {
  border-bottom: 1px rgba(0, 0, 0, 0.025) solid;
  position: relative;
  color: #FAFAFA;
}

.widget-collapse header {
  background-color: #23272e;
}

.widget-collapse header {
  padding: 0 10px;
}

.widget-collapse header a {
  color: #999;
  display: block;
  overflow: hidden;
  padding: 12px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-collapse header a i {
  color: rgba(255, 255, 255, 0.2);
  height: 17px;
  line-height: 17px;
  margin-right: 3px;
  text-align: center;
  width: 17px;
}

.widget-collapse header a i.collapse-caret {
  float: right;
  margin-top: 3px;
}

.widget-collapse header a .label {
  border-radius: 1px;
  padding: 2px 6px;
}

.widget-collapse section .collapse-body {
  padding: 15px;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 30px;
}
.dropdown-menu.arrow:after {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    left: 10px;
    position: absolute;
    top: -8px;
    z-index: 1;
}
.dropdown-menu.arrow:before {
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    left: 10px;
    position: absolute;
    top: -9px;
    z-index: 0;
}
.dropdown-menu.pull-right.arrow:after, .dropdown-menu.pull-right.arrow:before {
    left: auto;
    right: 10px;
}
.dropdown-menu > li > a {
    border-radius: 2px;
    color: #aaaaaa !important;
    font-weight: 300;
    margin: 0 5px;
    transition: all 0.25s ease 0s;
}
.dropdown-menu > li > a:hover {
    background-color: #f7f6f1 !important;
    color: #a1a1a1 !important;
    text-decoration: none;
}
.dropdown-menu > .active > a {
    background-color: #f7f6f1 !important;
    color: #a1a1a1 !important;
    text-decoration: none;
}
.dropdown-menu > .active > a:hover {
    background-color: #f7f6f1 !important;
    color: #a1a1a1 !important;
    text-decoration: none;
}


/* Bootstrap Overrides */

sup {
    top: -1.6em;
    font-size: 30%;
}

.list-group-item.disabled {
    background-color: #EEE;
}

a.list-group-item.active {
    background-color: #2A89C1;
}


.panel {
    border-radius: 0px;
    border-bottom: 1px solid #999;
    box-shadow: none;
    background: none;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-primary > .panel-heading{
    background: none;
    border-color: #EEE;
    color: #999;
}

.panel-primary {
    border: none;
}

/* Dashboard Tabs */

#dashboards > li:first-child {
    border-left: 1px solid #E5E9EC;
}

#dashboards > li.active {
    background-color: #EEEEEE;
    color: #fff;
}

#dashboards > li + li:before {
    content: none;
}

#dashboards > li {
    cursor: pointer;
    background-color: #fff;
    border-right: 1px solid #E5E9EC;
}


/* Alert History Dialog */
.alert-menu-img {
    padding: 15px;
}

.alert{
    margin: 20px;
}


/* Alert History page */
.bs-docs-sidenav {
    background-color: #f9f9f9;
}

/* Loading animation */
.loading {
    display: none;
    color: #2A89C1;
}

/* Carousel */
#widgetcarousel {
    margin-left: 35px;
    margin-right: 35px;
}

.carousel-inner .addbtn {
    position:absolute;
    bottom: 25px;
}

.carousel-inner .thumbnail {
    min-height: 360px;
    height: 360px;
}

.thumbnail .caption {
    margin-top: 10px;
}

.thumbnail .caption h4 {
    margin-bottom: 10px;
}

.carousel-control.left {
    margin-left: -20px;
}

.carousel-control.right {
    margin-right: -40px;
}


.carousel-control { width: 20px; }
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }

.carousel-control.left,.carousel-control.right {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1.0) 100%);
    color: #000;
}

/* Login Form */

.btn {
    border-radius: 2px;
    font-weight: 300;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-logo {
    margin: 0 auto 0px; 
    display: block;
    margin-top: 50%;
}

.account-wall
{
    margin-top: 30px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


.breadcrumb > li + li:before {
    color: #2a89c1;
}

.msg {
    text-align: center;
    color: #999;
    padding: 20px;
}

.display-hidden{
    display: hidden;
}

.margin-left-0 {
    margin-left: 0;
}

.widget-im.notification ul li section {
    box-shadow: none;
    margin-bottom: 0;
    padding: 9px 15px;
}
.widget-im.notification ul li section:after {
    border-bottom: 1px solid #ededed;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}
.widget-im.notification ul li section h4 {
    color: #777;
    font-size: 14px;
}
.widget-im.notification ul li section h4 small {
    color: #bbb;
    font-size: 12px;
}
.widget-im.notification ul li section .pre-text {
    font-size: 12px;
    padding-top: 4px;
    width: 95%;
}
.widget-im.notification ul li:last-child section:after {
    border-bottom: 0 none;
}
.widget-im.notification .btn-block {
    border-radius: 0;
    margin: 0;
}

.notification-background-Information{
    background: rgba(255, 221, 114, .5);
}

.notification-background-Success{
    background: rgba(91, 217, 147, .5);
}

.notification-background-Error{
    background: rgba(245, 91, 76, .5);
}

.notification-background-Warning{
    background: rgba(255, 221, 114, .5);
}

.widget-im.notification ul li .im-thumbnail {
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.1) inset;
}
.widget-im.notification ul li .im-thumbnail i {
    color: rgba(0, 0, 0, 0.2) !important;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}
.widget-im.notification .im-confirm-group .btn {
    height: 60px;
}
.modal-body .widget-im.notification {
    background-color: #fff;
    padding: 0;
}
.widget-im {
    overflow: hidden;
    position: relative;
}
.widget-im ul li {
    position: relative;
}
.widget-im ul li i {
    color: #ddd;
}
.widget-im ul li a:hover i {
    color: #48a770;
}
.widget-im ul li.empty {
    color: #abaaa5;
    padding: 25px 0;
    text-align: center;
}
.widget-im ul li.empty i {
    color: #edece5;
    display: block;
    margin-bottom: 15px;
}
.widget-im ul li section {
    background-color: #fff;
    border-color: #fff;
    margin-bottom: 10px;
    padding: 15px 17px;
    position: relative;
    transition: transform 0.5s ease 0s;
    z-index: 1;
}
.widget-im ul li section.push-in {
    transform: translate3d(-40%, 0px, 0px);
}
.widget-im ul li section.push-in a.im-delete:after, .widget-im ul li section.push-in a.im-action:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.widget-im ul li section label {
    border-left: 20px solid transparent;
    border-top: 20px solid #99cc00;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}
.widget-im ul li section.thumbnail-in {
    padding-left: 92px;
}
.widget-im ul li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.widget-im ul li .pre-text {
    color: #ccc;
    overflow: hidden;
    padding: 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.widget-im ul li .im-thumbnail {
    background-color: #fbfbfb;
    border-right: 1px solid #f5f5f5;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
    z-index: 2;
}
.widget-im ul li .im-thumbnail img {
    border-radius: 2px;
    height: 61px;
    margin-left: 7px;
    margin-top: 7px;
    width: 61px;
}
.widget-im ul li .im-thumbnail i {
    font-size: 30px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    width: 75px;
}
.widget-im .im-confirm-group {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 0;
}
.widget-im .im-confirm-group .btn {
    border: 0 none;
    border-radius: 0;
    height: 75px;
    padding: 0;
}
.widget-im .widget-im-tools span + span {
    color: #999;
    margin-left: 7px;
}
.widget-im ul li time {
    background-color: #f7f6f1;
    border-radius: 2px;
    color: #bbb;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}


.jsonview {
  font-family: monospace;
  font-size: 1.1em;
  white-space: pre-wrap; }
  .jsonview .prop {
    font-weight: bold; }
  .jsonview .null {
    color: red; }
  .jsonview .bool {
    color: blue; }
  .jsonview .num {
    color: blue; }
  .jsonview .string {
    color: green;
    white-space: pre-wrap; }
    .jsonview .string.multiline {
      display: inline-block;
      vertical-align: text-top; }
  .jsonview .collapser {
    position: absolute;
    left: -1em;
    cursor: pointer; }
  .jsonview .collapsible {
    transition: height 1.2s;
    transition: width 1.2s; }
  .jsonview .collapsible.collapsed {
    height: .8em;
    width: 1em;
    display: inline-block;
    overflow: hidden;
    margin: 0; }
  .jsonview .collapsible.collapsed:before {
    content: "â¦";
    width: 1em;
    margin-left: .2em; }
  .jsonview .collapser.collapsed {
    transform: rotate(0deg); }
  .jsonview .q {
    display: inline-block;
    width: 0px;
    color: transparent; }
  .jsonview li {
    position: relative; }
  .jsonview ul {
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0; }
  .jsonview h1 {
    font-size: 1.2em; }
